- @articles.each do |article|
  %li.an_article{:"data-id" => "#{article.id}"}
    %a{:href => "#{article_url(article)}", :class => 'article_image'}
      = article_image(article, article.feed.site_logo)
      %div.description
        %div.description_content
          = article.title
          %div.abstract{:style => "display:none"}
            = shorten(article.summary)
