#set_teams
  %div.submit_button.floatright
    %button#update Update
  %ul.articles.floatleft
    - @articles.each do |article|
      %li{:"data-article-id" => "#{article.id}"}
        .the_title
          = article.title
        .content  
          = article.content.strip


  %ul.teams.floatleft
    - @teams.each do |team| 
      %li{:"data-team-id" => "#{team.id}"} 
        = team_logo(team.logo_image)
        #name
          = team.name
          
  