#topbar
  #floatingbar
    = render :partial => "topbar"
#view_content

  // Begin sidebox
  #sidebox
    #header_info
      .logo_wrapper.floatleft
        = link_to image_tag("/images/logo_small.png",  :alt =>  'Goalara.com'), "/"
      .header_comments.floatright
        %strong 
          - if @comments.defined?
            = @comments.size.to_s + ' Σχόλια'
    %div{:style => "clear:both"}
    #conversation
      #discussion.silverBorderPanel
        .comment-container
          %ul#commentList-30.l-0
            // Comments go here
           
    .commentAddForm.clearfix.secondary
      .signed-in
        %label.formItemLabel
          = form_tag(comments_path, :method => "post", :remote => true, :id => "add_comment") do
            %textarea{:cols => "", :name => "body", :rows => ""}
            %input{:name => "commentable_id", :type => "hidden", :value => "#{@article.id if article}" }    
            %input{:name => "user_id", :type => "hidden", :value => "#{current_user.id if current_user}"}
            %input{:name => "commentable_type", :type => "hidden", :value => "Article"}
            - if !user_signed_in?
              .formItemLine.signed-out
                %p.signin
                  = link_to 'Sign in to add comments', new_user_session_remote_path
                  or 
                  = link_to 'Join', user_registration_path
            - else
              %span.button.primary
                %span
                  %input.submit{:name => "submit", :type => "submit", :value => "Submit"}
              %p.charactersUsed
                Characters remaining:
                %em.commentOK 2000
    
          
  #article_viewer
    = render :partial => "article-iframe"
    
#loader_img{:style => "display:none"}
  = image_tag "loader.gif", :class => 'loader'