%div{:style => "position: static;", :class => "local"}
  %h3 Sort by:
  %ul{:id => 'order_by'}
    %li 
      = link_to "Newest", request.url, :onclick => 'return false;', :class => "selected", :"data-value" => 'newest'
    %li 
      = link_to "Most Popular", request.url, :onclick => 'return false;', :"data-value" => 'popular'
    %li 
      = link_to "Most Commented", request.url, :onclick => 'return false;', :"data-value" => 'commented'
  %h3 Filter by Team:
  %ul{:id => 'filter_by'}
    %li
      = link_to 'All', request.url, :onclick => 'return false;', :"data-value" => 'all'
    - @teams.each do |team|
      %li 
        = link_to team.name, request.url, :onclick => 'return false;', :"data-value" => team.id
  %h3 Filter by Organization
  %ul{:id => 'filter_by'}
    %li
      = link_to 'All', request.url, :onclick => 'return false;', :"data-value" => 'all'
    - @organizations.each do |organization|
      %li 
        = link_to organization.name, request.url, :onclick => 'return false;', :"data-value" => organization.id
        
    

%div{:class => "browser"}
  %ul
    - @articles.each do |article|
      %li
        = link_to image_tag(article.image), :controller => 'viewers', :action => 'show', :id => article.id
        %h3
          = article.title
        %span
          = truncate_words(article.summary, 200).join(' ')
