= title "Παίρνεις την μπάλα μαζί σου!"

%ul.list_teams
  - @teams.each do |team|
    %li.floatleft
      = team_logo(team.logo_image)
%div.clearfix
%div{:style => "position: static;", :class => "local"}
  %h3 Ταξινόμηση κατά:
  %ul{:id => 'order_by'}
    %li 
      = link_to "Νεότερα", request.url, :class => "selected", :"data-value" => 'newest'
    %li 
      = link_to "Δημοφιλέστερα", request.url,  :"data-value" => 'popular'
    / %li 
    /       = link_to "Περισσότερα σχόλια", request.url, :"data-value" => 'commented'
  %h3 Εμφάνιση άρθρων για:
  %ul{:id => 'filter_by'}
    %li
      = link_to 'Όλες τις ομάδες', request.url,  :"data-value" => 'all', :class => "selected"
    - @teams.each do |team|
      %li 
        = link_to team.name, request.url,  :"data-value" => team.id
  / %h3 Filter by Organization
  /   %ul{:id => 'filter_by'}
  /     %li
  /       = link_to 'All', request.url, :onclick => 'return false;', :"data-value" => 'all'
  /     - @organizations.each do |organization|
  /       %li 
  /         = link_to organization.name, request.url, :onclick => 'return false;', :"data-value" => organization.id        



%div{:class => "browser"}
  %ul.articles_list#articles_list.clearfix
    = render :partial => "articles_list"
    
  %ul#shuffler.hidden